<h1>Edit wines</h1>

<form id="newWine" method="POST" action="/wines/<%= wine.id %>">
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control formInput" type="text" name="name" id="name"required value="<%= wine.name %>">
  </div>
  <div class="form-group">
    <label for="region">Region</label>
    <input class="form-control formInput" type="text" name="region" id="region" required value="<%= wine.region %>">
  </div>
  <div class="form-group">
    <label for="parings">Pairings</label>
    <input class="form-control formInput" type="text" name="parings" id="parings" required value="<%= wine.parings %>">
  </div>
  <div class="form-group">
    <label for="tastingNotes">Tasting Notes</label>
    <input class="form-control formInput" type="text" name="tastingNotes" id="tastingNotes" required value="<%= wine.tastingNotes %>">
  </div>
  <div class="form-group">
    <label for="buyLink">Buy here</label>
    <input class="form-control formInput" type="text" name="buyLink" id="buyLink" required value="<%= wine.buyLink %>">
  </div>
  <div class="form-group">
    <label for="image">Image url</label>
    <input class="form-control formInput" type="text" name="image" id="image" required value="<%= wine.image %>">
  </div>

<button class="btn confirmButton submitButton">Update</button>
</form>
