<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <h1> The Wine cellar...</h1>

    <% wines.forEach((wine) => { %>
      <div class="winesIndex">

      <a href="/wines/<%= wine.id %>"><img class="listImage" src="<%= wine.image %>" alt="<%= wine.name %> image missing" height=200px width=200px></a>

      <h4><%= wine.name %></h4>
      <h3> Region: <%= wine.region %></h3>
      <h3> Recommended pairings: <%= wine.pairings %></h3>
      <h3> Tasting notes:   <%= wine.tastingNotes %></h3>
      <h3> Added by: <%= wine.createdBy.username %></h3>

      </br>
      </div>


      <% }) %>
    </br>
  </body>
  </html>
