<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>




  <h2><%= wine.name %></h2>
  <div class="container">
    <main class="container2">



        <img src="<%= wine.image %>" alt="<%= wine.name %>" width="380px" height="380px">

        <aside class="breaker">
          <h3>Pairings: </br></br> <%= wine.pairings %><br></h3>
          <h3>Tasting Notes: </br></br><%= wine.tastingNotes %><br></h3>
            <h3>Posted by: <%= wine.createdBy.username %></h3>

          <div id="bottomButtons">

        <% if(locals.isAuthenticated && wine.belongsTo(user)) { %>

              <a href="/wines/<%= wine.id %>/edit" class="buyButton" id="edit">Edit</a>
              <form method="POST" action="/wines/<%= wine.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="buyButton" id="delete">Delete</button>
              </form>
              <% } %>

                <% if(locals.isAuthenticated && !wine.belongsTo(user)) { %>



                  <% } %>

                    <button class="buyButton" onclick="location.href='<%= wine.buyLink %>'" type="button" id="buy">Buy here!</button>

          </div>
        </aside>
      </main>
    </div>

  </body>
  </html>
